Flask==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
opencv-python==4.5.5.64
numpy==1.19.5
Pillow==8.4.0
tensorflow==2.6.2
tensorflow-estimator==2.6.0
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
mtcnn==0.1.1
torch==1.9.1
torchvision==0.10.1
Werkzeug==2.0.3
SQLAlchemy==1.4.31
SQLAlchemy-Utils==0.38.2
sklearn==0.0
gdown==4.2.1
